@model WebApplication2.Models.Book;
 
<h2>Вы уверены что хотите купить книгу?</h2>
<form asp-action="Delete" asp-controller="Home">
    <div class="mb-3 row">
                <label asp-for="Name" class="form-label">Название</label>
                <input type="text" class="form-control" asp-for="Name">
              </div>
    <div class="mb-3 row">
                <label asp-for="Author" class="form-label">Название</label>
                <input type="text" class="form-control" asp-for="Author.Name">
              </div>
    <p>
        <input type="submit" class="btn btn-primary mb-3" value="Отправить" />
    </p>
</form>