<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - WebApplication2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/WebApplication2.styles.css" asp-append-version="true"/>
  <div class="bg"></div>
      <div class="bg bg2"></div>
      <div class="bg bg3"></div>
      
</head>
<body>
<header>
     <div class="bg"></div>
          <div class="bg bg2"></div>
          <div class="bg bg3"></div>



    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">

        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Книжный магазин "Убийца Стула"</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Список букс</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">О нас</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Create">Админка</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="OrderList">ЛистЗаказов</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Support">Тех Поддержка</a>
                    </li>


                </ul>
            </div>
        </div>
         <div>
                        <ul class="navbar-nav flex-grow-1">
                            @if (User.Identity!.IsAuthenticated)
                            {
                                <li class="nav-item" style="padding-top: 8px">Здравствуйте, @User.Identity.Name</li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Выход</a>
                                </li>
                            }
                            else
                            {
                                <!-- Кнопка-триггер модального окна -->
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#LoginModal">
                                    Войти
                                </button>
                                <button type="button" class="btn btn" data-bs-toggle="modal" data-bs-target="#RegisterModal">
                                    Регистрация
                                </button>
                                <!-- Модальное окно -->
                                <div class="modal fade" id="LoginModal" tabindex="0" aria-labelledby="LoginModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Вход</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                                            </div>
                                            <div>
                                                <button type="buttin" class="btn btn" data-bs-toggle="modal" data-bs-target="#RegisterModal">
                                                    Регистрация
                                                </button>
                                            </div>
                                            @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                                            {
                                                <div class="modal-body">
                                                    <div>
                                                        <label>Введите Email</label>
                                                        <input type="text" name="Email" id="Email"/>
                                                    </div>
                                                    <div>
                                                        <label >Введите Пароль</label>
                                                        <input type="password" name="Password" id="Password"/>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <div>
                                                        <input type="submit" value="Войти" class="btn btn-outline-dark"/>
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="RegisterModal" tabindex="0" aria-labelledby="RegisterModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Регистрация</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                                            </div>
                                            @using (Html.BeginForm("Register", "Account", FormMethod.Post))
                                            {
                                                <div class="modal-body">
                                                    <div>
                                                        <label>Введите Email</label>
                                                        <input type="text" name="Email" id="Email"/>
                                                    </div>
                                                    <div>
                                                        <label >Введите Пароль</label>
                                                        <input type="password" name="Password" id="Password"/>
                                                    </div>
                                                    
                                                </div>
                                                <div class="modal-footer">
                                                    <div>
                                                        <input type="submit" value="Войти" class="btn btn-outline-dark"/>
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        </ul>
                    </div>
        
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2023 - Книжный магазин "Убийца Стула - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>